@font-face {
    font-family: "NotoSans";
    src: url("./assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "NotoSans";
    src: url("./assets/fonts/Noto_Sans/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "NotoSans";
    src: url("./assets/fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}
@font-face {
    font-family: "NotoSans";
    src: url("./assets/fonts/Noto_Sans/NotoSans-Italic.ttf");
	font-style: italic;
}

* {
    font-family: NotoSans, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F7F6F4;
}

input {
    outline: none;
}
